<h1>Listing Partners</h1>
<%= link_to "Welcome", controller: "welcome" %>
<%= link_to 'New Partner', new_partner_path %>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </tr>
 
  <% @partners.each do |partner| %>
    <tr>
      <td><%= partner.name_first %></td>
      <td><%= partner.name_last %></td>
      <td><%= partner.email %></td>
      <td><%= link_to 'Show', partner %></td>
      <td><%= link_to 'Edit', edit_partner_path(partner) %></td>
      <td><%= link_to 'Destroy', partner_path(partner), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>