<p>
  <strong>First Name:</strong>
  <%= @partner.name_first %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @partner.name_last %>
</p>

<p>
  <strong>Email:</strong>
  <%= @partner.email %>
</p>

<h2>Offices</h2>
<%= render @partner.offices %>
<h2>Add an Office:</h2>
<%= render "offices/form" %>

<%= link_to 'Back', partners_path %>
| <%= link_to 'Edit', edit_partner_path(@partner) %>